<launch>

	<!-- Publish UDP data to topic to be translated into command -->
        <node pkg="api_nodes" type="udp_intf.py" name="udp_ard"/>
		
	<node pkg="api_nodes" type="udp_intf_2.py" name="udp_servo"/>
		
        <!-- Publish data to arduinos -->
        <node pkg="api_nodes" type="ard_intf" name="ard_intf" />

        <!-- Initialize arduino nodes -->
        <node pkg="rosserial_python" type="serial_node.py" name="ttyACM0">
	<param name="port" value="/dev/ttyACM0"/>
        </node>
	
	<node pkg="rosserial_python" type="serial_node.py" name="ttyACM1">
	<param name="port" value="/dev/ttyACM1"/>
        </node>
	
	<node pkg="rosserial_python" type="serial_node.py" name="ttyACM2">
	<param name="port" value="/dev/ttyACM2"/>
	</node>
</launch>


